*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(173, 25, 25, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: centers;
}
#navbar li{
        list-style: none;
        padding: 0 20px;
        text-transform: uppercase;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.6s ease;

}
#navbar li a:hover{
    color: #088178;
}
#hero{
    background-image: url(img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    box-sizing: border-box;

}
#hero h4{
    padding-bottom: 15px;

}
#hero h1{
    color: green;
}

.section-p1{
    padding: 40px 60px;
    
}
.section-m1{
    margin: 40px 0;
}
button.normal{
 font-size: 14px;
 font-weight: 600;
 padding: 15px 30px;
 color: #000;
 background-color: #fff;
 outline: none;
 border: none;
 cursor: pointer;
 border-radius: 5px;
 transition: 0.5s ease;
}
button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 20px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 0.5px solid white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease;
    width: 150px;
}


button.normal:hover{
    background-color: #883939;
}

#hero button{
    font-size: 15px;
    background-color: #777272;
    border: none;
    border-radius: 15px;
    padding: 8px;
}
#hero button:hover{
   background-color:  #883939;
}


.feature, .fe-box{
   
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow:  20 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
.feature, .fe-box:hover{
    box-shadow: 10px 10px 34px rgba(70, 62, 221, 0.01);
    cursor: pointer;
}

.feature, .fe-box h6{
    padding: 9px 8px 6px 5px;
    background-color: rgb(113, 136, 128);
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}
#product1 .pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2 ease;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;


}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(228, 228, 58);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 17px;
    color: green;
}

#cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #e8f6ea;
    
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    background-size: cover;
    background-position: center;
    padding: 2% 0;
}

#banner h4{
    color: #fff;
    font-size: 16px;

}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;    
}
#banner h2 span{
    color: #ef3636;
        
}
#sm-banner{
    display: flex;
    justify-content: space-between;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/banner/b17.jpg");
    background-size: cover;
    background-position: center;
    min-width: 580px;
    height: 50vh;
    padding: 10px
    
}
#sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}
#sm-banner h4{
    color: #fff;
    font-size: 30px;
    font-weight: 300;

}
#sm-banner h2{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: green;
    border: 1px solid grey;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 70px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/banner/b7.jpg");
    background-size: cover;
    background-position: center;
    min-width: 28%;
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    background-image: url("img/banner/b4.jpg");
}

#banner3 .banner-box3{
    background-image: url("img/banner/b18.jpg");
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: red;
    font-weight: 800;
    font-size: 15px;
}

#newslateer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

.newstext h4{
    font-size: 22px;
    font-weight:700;
    color: #fff;
}

.newstext  p{
    font-size: 14px;
    font-weight:600;
    color: #818ea0;
}

.newstext  p span{
    color: yellow;
}

.form input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1pxs  solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.form button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

#newslateer .form{
    display: flex;
    width: 40%;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(58, 55, 55);
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #c7ccca;
    padding-right: 4px;
    cursor: pointer;
}
footer .follow i:hover{
     color: #000;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}